:root {
  --sidebar-width: 300px;
  --important: #1479ff;
}

.content-box {
  filter: drop-shadow(0px 0px 30px #dddddd);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.loginButton {
  --btn-bg: var(--btn);
  width: 100%;
  height: 50px;
  transition: all 0.4s ease-in-out;
  border-radius: 10px;
  background: var(--btn-bg);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  cursor: pointer;
}

.loginButton:hover {
  --btn-bg: var(--btn-hover)
}

.sidebar {
  position: fixed;
  top: -20px;
  left: 0px;
  width: var(--sidebar-width);
  height: 120%;
  align-items: center;
}

span,
a,
h1,
h2,
h3,
h4,
h5,
h6,
div,
button,
b,
strong {
  color: #193b68;
  font-family: Nunito;
}

.icon {
  width: 60%;
  aspect-ratio: 1/1;
  stroke: var(--important);
  stroke-width: 0.85px;
  text-align: center;
}

.tab {
  --tab-bg: white;
  cursor: pointer;
  width: 65%;
  aspect-ratio: 1 / 1;
  transition: all 0.4s ease-in-out;
  background: var(--tab-bg);
  border-radius: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: none;
  margin: 0px auto;
}

.tab:hover {
  background: #f0f0f0
}

.tab strong {
  display: block
}

body.sidebar-small .tab strong {
  display: none
}

.glow {
  filter: drop-shadow(0px 0px 7px var(--important))
}

.title {
  position: fixed;
  top: 15px;
  left: calc(var(--sidebar-width) + 40px);
  width: calc(50% - (var(--sidebar-width) / 2 + 40px));
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden
}

.balancebox {
  border-radius: 15px;
  outline: 1px lightgray solid;
  background-color: white;
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  max-height: 400px;
  flex-direction: column
}

.btn {
  --btn-bg: var(--btn);
  cursor: pointer;
  min-height: 50px;
  border-radius: 15px;
  transition: all 0.3s ease-in-out;
  background: var(--btn-bg);
  outline: none;
  box-shadow: 0px 0px 14px 2px lightgray;
  border: 17px;
}

.btn:hover {
  background: var(--btn-hover)
}

.btn:active {
  transform: none
}

.balance-activity {
  display: flex;
  flex-direction: row;
  width: calc(100% - var(--sidebar-width))
}

.bio-in {
  width: calc(100% - 24px);
  height: calc(100% - 68px);
  border-radius: 10px;
  border: none;
  background-color: #eef1f6;
  outline: none;
  word-wrap: normal;
  font-family: 'Nunito';
  padding: 10px;
}

.bio-in:active {
  transform: none;
  outline: none
}
