
:root {
  --bg-dark: ##191919;
  --text-dark: white;
  --header: #8b5eff;
  --subh-dark: #311e55;
  --info-dark: #232323;
  --small-dark: #2b2b2b;
  --payment-dark: #333333;
  --paybutton-dark: #8b5eff;
  --paybutton-hover-dark: a684ff;
  --paybutton-outline-dark: #513699;
  --payment-outline-dark: lightgray;
  --bg-light: white;
  --info-light: #f1f1f1;
  --text-light: black;
  --subh-light: #c3a4ff;
  --small-light: #b8b8b8;
  --payment-light: #adadad;
  --payment-outline-light: #636363;
  --paybutton-light: #ff8000;
  --paybutton-hover-light: #ffa54a;
  --paybutton-outline-light: #ffc08f;
}

.header {
  display: flex;
  width: 100%;
  height: 4.5rem;
  background-color: var(--header);
  justify-content: center;
  align-items: center;
  font-size: 20px;
  text-align: center;
  flex: 0 0 auto;
  position: fixed;
  top: 0px;
}

.darker {
  margin-top: 4.5rem;
  display: flex;
  flex: 0 0 auto;
  width: 100%;
  height: 4.5rem;
  background-color: var(--subh-light);
  justify-content: center;
  align-items: center;
  font-size: 15px;
  text-align: center;
}

.infobox {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 95%;
  flex: 1;
  min-height: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--info-light);
  border-radius: 3px;
  justify-self: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

.data {
  font-size: 17px;
  padding-left: 20px;
}

.smallbox {
  width: 60%;
  display: flex;
  border-radius: 5px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  justify-self: center;
  background-color: var(--small-light);
  overflow-y: auto
}

.payment {
  text-align: center;
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #333333;
  outline: 1px lightgray dashed
}
a {
  color: var(--header);
  text-decoration: none;
}
.paybutton {
    margin-top: 15px;
    text-align: center;
    padding: 16px 16px 16px 16px;
    transition: background 0.3s ease-in-out;
    border-radius: 5px;
    border: none;
    outline: 10px var(--paybutton-outline-light) solid;
    background: var(--paybutton-light);
    cursor: pointer;
}
button:hover {
    background: var(--paybutton-hover-light)
}
button:active {
    transform: none
}
html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: var(--bg-light);
  min-height: 100vh;
}
span, a, h1, h2, h3, h4, h5, h6, div, button {
  font-family: Open Sans;
  color: var(--text-light)
}
